<div id="about-page-container">
  <div class="container">
    <mat-card>
      <h1 class="title is-2">Open Source Application</h1>
      <hr>
      <p class="is-size-4">
        This application is open source, meaning everyone can see the code for it. 
        If you're a developer and would like to improve upon it, the repositories are located here:
      </p>
      <ul style="list-style-type: disc; padding-left: 20px;">
        <li>
          <a href="https://github.com/ryanwaite28/tenant-search-server">
            Tenant Search Server (https://github.com/ryanwaite28/tenant-search-server)
          </a>
        </li>
        <li>
          <a href="https://github.com/ryanwaite28/tenant-search-client">
            Tenant Search Client (https://github.com/ryanwaite28/tenant-search-client)
          </a>
        </li>
      </ul>
      <br>
      <p class="is-size-4">Simply make a pull request with you proposed changes.</p>
      <br/>
      <p class="is-size-4">The project is being hosted on Heroku.</p>
      <p class="is-size-4">
        The goal is to make this a free and public service that benefits everyone who may need something like this.
      </p>
      <p class="is-size-4">Share this on Linkedin or other social media platforms!</p>
    </mat-card>
  </div>
</div>