<div id="password-reset-page-container">
  <div class="container">
    <mat-card>
      <h1 class="title is-3">Send Password Reset Code</h1>
      <p>Enter your password to send a reset request.</p>
      <hr>
      <form [formGroup]="sendResetForm" (ngSubmit)="onSendSubmit()">
        <mat-form-field class="">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" />
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </form>
    </mat-card>

    <br/>

    <mat-card>
      <h1 class="title is-3">Confirm Password Reset Code</h1>
      <p>Confirm the code that was sent to you by entering it here.</p>
      <hr>
      <form [formGroup]="confirmCodeForm" (ngSubmit)="onConfirmSubmit()">
        <mat-form-field class="">
          <mat-label>Code</mat-label>
          <input type="text" matInput formControlName="code" />
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </form>
    </mat-card>
  </div>
</div>