<footer id="app-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>HotSpot</h3>
        <p>Copyright 2019 &reg;</p>
      </div>
      <div class="col-md-3">
        <ul class="">
          <li class="">
            <!-- <a class="" [routerLink]="['/search']">Search</a> -->
          </li>
          <li class="">
            <!-- <a class="" [routerLink]="['/about']">About</a> -->
          </li>
          <li class="">
              <!-- <a class="" [routerLink]="['/info']">Info</a> -->
            </li>
          <li class="">
            <!-- <a class="" [routerLink]="['/faq']">FAQ</a> -->
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="">
          <li class="">
            <!-- <a class="" [routerLink]="['/support']">Support</a> -->
          </li>
          <li class="">
            <!-- <a class="" [routerLink]="['/contact']">Contact</a> -->
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>