<footer id="app-footer">
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        <h3 class="footer-title title is-3">Tenant Search</h3>
        <p>Copyright {{ currentYear }} &reg;</p>
      </div>
      <div class="column is-one-quarter">
        <ul class="">
          <li class="">
            <a class="transition" title="About Page" [routerLink]="['/', 'about']">About</a>
          </li>
          <li class="">
            <a class="transition" title="Contact Page" [routerLink]="['/', 'contact']">Contact</a>
          </li>
        </ul>
      </div>
      <div class="column is-one-quarter">
        <ul class="">
          <li class="">
            <a class="transition" title="Password Reset Page" [routerLink]="['/', 'password-reset']">Password Reset</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>