<mat-card id="user-password-fragment-container" *ngIf="you">
  <h1 class="title is-3">Password</h1>
  <p>Use the form below to change your password.</p>
  <hr/>

  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="">
      <mat-label>Old Password</mat-label>
      <input type="password" matInput formControlName="oldpassword" />
    </mat-form-field>
    <mat-form-field class="">
      <mat-label>New Password</mat-label>
      <input type="password" matInput formControlName="password" />
    </mat-form-field>
    <mat-form-field class="">
      <mat-label>Confirm Password</mat-label>
      <input type="password" matInput formControlName="confirmPassword" />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</mat-card>