#user-home-listings-container {

  .home-info p {
    margin-bottom: 10px;
  }

  .home-listing-card {
    margin-bottom: 10px;
  }

  .links-list {
    padding-left: 20px;
  }

  .links-list li {
    list-style: disc;
  }
}