<mat-card id="user-home-fragment-container" *ngIf="you">
  <h1 class="title is-3">Home</h1>
  <hr/>

  <p><strong>Bio</strong>:<br/>{{ you.bio || '...' }}</p>

  <br/>

  <p><strong>Account Type</strong>: {{ you.account_type }}</p>
  <p><strong>Search Status</strong>: {{ you.search_status }}</p>
  <p><strong>Email</strong>: {{ you.email }}</p>
  <p><strong>Phone</strong>: {{ you.phone | phone }}</p>
  <p><strong>Verified</strong>: {{ you.account_verified }}</p>

  <ng-container [ngSwitch]="you.account_type">
    <ng-container *ngSwitchCase="USER_ACCOUNT_TYPES.TENANT">
      <br/>
    
      <p><strong>Credit Score</strong>: {{ you.credit_score }}</p>
      <p><strong>Gross Income</strong>: ${{ you.gross_income | number }}</p>
      <p><strong>Net Income</strong>: ${{ you.net_income | number }}</p>
      <p><strong>Income Sources</strong>: {{ you.income_sources_count | number }}</p>
    </ng-container>
  </ng-container>
</mat-card>