<div id="user-page-container" class="middle-container-1" *ngIf="user">
  <div fxFlexLayout="row wrap" fxLayoutGap="20px">
    <div fxFlex="35">
      <mat-card>
        <h3 class="text-center">Hello {{ displayName }}!</h3>
        <img
          class="home-bio-img"
          [src]="user.icon_link || defaultIconUrl"
          [alt]="displayName"
        />
      </mat-card>
      <br/>
      <mat-card>
        <mat-nav-list>
          <a mat-list-item title="Go to home page" [routerLink]="['/', 'users', user.id]">Home</a>
          <a mat-list-item title="Go to settings page" [routerLink]="['/', 'users', user.id, 'settings']">Settings</a>
          <a mat-list-item title="Go to icon page to update icon" [routerLink]="['/', 'users', user.id, 'icon']">Icon</a>
          <a mat-list-item title="Go to notifications page" [routerLink]="['/', 'users', user.id, 'notifications']">Notifications</a>

          <br/>

          <ng-container [ngSwitch]="user.account_type">
            <ng-container *ngSwitchCase="USER_ACCOUNT_TYPES.TENANT">
              <a mat-list-item title="Go to home requests" [routerLink]="['/', 'users', user.id, 'location-requests']">Home Requests</a>
              <a mat-list-item title="Go to location preferences" [routerLink]="['/', 'users', user.id, 'location-preferences']">Location Preferences</a>
            </ng-container>
  
            <ng-container *ngSwitchCase="USER_ACCOUNT_TYPES.HOME_OWNER">
              <a mat-list-item title="Go to tenant requests" [routerLink]="['/', 'users', user.id, 'tenant-requests']">Tenant Requests</a>
              <a mat-list-item title="Go to home listings" [routerLink]="['/', 'users', user.id, 'location-listings']">Home Listings</a>
            </ng-container>
          </ng-container>
        </mat-nav-list>
      </mat-card>
    </div>
    <div fxFlex="65">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>