<div id="user-home-listing-fragment-container" *ngIf="home">
  <mat-card>
    <app-home-listing-fragment
      [home]="home"
      [user]="you"
      (deleteClick)="deleteHomeListing($event)"
    ></app-home-listing-fragment>
  </mat-card>

  <br/>

  <mat-card>
    <h1 class="">Users looking for homes in <strong>{{ home.state }}</strong></h1>
    <hr/>

    <div class="preference-box" *ngFor="let possibleTenant of possibleTenantsList; index as i">
      <div class="columns">
        <div class="column is-full">
          <div class="chip">
            <img
              [src]="possibleTenant.icon_link || defaultIconUrl"
              [alt]="possibleTenant.first_name"
            />
            {{ '' | userFullName : possibleTenant }}
          </div>
        </div>
      </div>
      <div
        class="columns"
      >
        <div class="column is-half">
          <p><strong>Account Type</strong>: {{ possibleTenant.account_type }}</p>
          <p><strong>Search Status</strong>: {{ possibleTenant.search_status }}</p>
          <p><strong>Email</strong>: {{ possibleTenant.email }}</p>
          <p><strong>Phone</strong>: {{ possibleTenant.phone | phone }}</p>
          <p><strong>Verified</strong>: {{ possibleTenant.account_verified }}</p>
        </div>
        <div class="column is-half">
          <p><strong>Credit Score</strong>: {{ possibleTenant.credit_score }}</p>
          <p><strong>Gross Income</strong>: ${{ possibleTenant.gross_income | number }}</p>
          <p><strong>Net Income</strong>: ${{ possibleTenant.net_income | number }}</p>
          <p><strong>Income Sources</strong>: {{ possibleTenant.income_sources_count | number }}</p>
        </div>
      </div>
      <div class="columns" *ngIf="possibleTenant.location_preferences">
        <div class="column is-full">
          <strong>Preferences</strong>
          <br/>
          <br/>
          <mat-chip-list>
            <mat-chip *ngFor="let preference of possibleTenant.location_preferences">
              {{ preference.city }}, {{ preference.state }} | Home Type: {{ preference.home_type }}
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>
      <div class="columns">
        <div class="column is-full">
          <ng-container [ngSwitch]="!!possibleTenant.tenant_request">
            <ng-container *ngSwitchCase="true" [ngSwitch]="possibleTenant.tenant_request.accepted === null">
              <button *ngSwitchCase="true"
                mat-raised-button
                color="accent"
                type="button" 
                (click)="cancelTenantRequest(possibleTenant)"
              >
                Pending
              </button>
              <mat-chip-list aria-label="" *ngSwitchCase="false">
                <mat-chip color="primary" selected>
                  {{ possibleTenant.tenant_request.accepted ? 'Accepted' : 'Declined' }}
                </mat-chip>
              </mat-chip-list>
            </ng-container>
            <ng-container *ngSwitchCase="false">
              <button
                mat-raised-button
                color="primary"
                type="button" 
                (click)="sendTenantRequest(possibleTenant)"
              >
                Request
              </button>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>

    <br/>
    <button
      *ngIf="!isEndOfResults"
      (click)="loadMorePossibleTenants()"
      mat-raised-button
      color="primary"
      type="button">Load More</button>
  </mat-card>
</div>