<div id="welcome-page-container">
  <header>
    <div class="fill pos-rel" [style.background-image]="'url(' + welcomeWallpaper + ')'">
      <div class="dim-2"></div>
      <div class="pos-rel bar-strip-2 welcome-text">
        <h1 class="text-center is-size-1">
          It's time for a change!
        </h1>
        <h3 class="text-center is-size-3">
          Why can't home owners apply to <em>you</em>?
        </h3>
      </div>
    </div>
  </header>

  <section class="bar-strip-1 bg-white">
    <h1 class="text-center title is-2">
      What is Tenant Search?
    </h1>
    <h3 class="text-box-1 text-center is-size-4">
      It's exactly as the name implies. This applications makes it easy for 
      home owners to find potential tenants.
    </h3>
  </section>

  <section class="bar-strip-1 bg-grey">
    <div class="columns" style="margin-bottom: 75px">
      <div class="column">
        <h1 class="text-center title is-2">
          How does it work?
        </h1>
      </div>
    </div>
    <div class="columns">
      <div class="text-center is-size-4 column text-box-1">
        <p>
          <mat-icon>edit</mat-icon>
        </p>
        <p>
          Users who sign up as a <strong>tenant</strong> will be able to fill out basic information that home owners need, 
          in addition to listing all of their preferred locations.
        </p>
      </div>
      <div class="text-center is-size-4 column text-box-1">
        <p>
          <mat-icon>search</mat-icon>
        </p>
        <p>
          Users who sign up as a <strong>home owner</strong> can create listings and find interested possible tenants 
          based on their location preference.
        </p>
      </div>
    </div>
  </section>
</div>